<a href="https://colab.research.google.com/github/KomalKhalane25/Python_Practices-/blob/main/Functions_and_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

What is Function?

The function is peace of code/instructions which we use to achive specific functionality.

Why we need to functions?
The primery peruse of function is reduce the code length and increases code reusability.

two Type of Function:
1. In-Build function
2. User Defined Functions

Two most IMP things in function:
1. Function Definitions
2. function call

In [ ]:
#append() :- Only one element add at the one time
lst = [1,2,3,4,5]
lst2 = [7,8]
lst.append(lst2)
print(lst)

[1, 2, 3, 4, 5, [7, 8]]

In [ ]:
lst = [1,2,3,4,5]
lst2 = [7,8]
for i in lst2:
  lst.append(i)
print(lst)

[1, 2, 3, 4, 5, 7, 8]

In [ ]:
#extend() :- add multiple element at one time
lst3 = [100,200,300,400]
lst.extend(lst3)

In [ ]:
print(lst)

[1, 2, 3, 4, 5, 7, 8, 100, 200, 300, 400, 100, 200, 300, 400, 100, 200, 300, 400, 100, 200, 300, 400, 100, 200, 300, 400, 100, 200, 300, 400]

In [ ]:
lst.pop(9)

300

In [ ]:
lst

[1,
 2,
 3,
 4,
 5,
 7,
 8,
 100,
 200,
 400,
 100,
 200,
 300,
 400,
 100,
 200,
 300,
 400,
 100,
 200,
 300,
 400,
 100,
 200,
 300,
 400,
 100,
 200,
 300,
 400]

In [ ]:
lst.index(200)

8

In [ ]:
lst.pop(8)

200

In [ ]:
lst.remove(200)

In [ ]:
lst

[1,
 2,
 3,
 4,
 5,
 7,
 8,
 100,
 400,
 100,
 300,
 400,
 100,
 200,
 300,
 400,
 100,
 200,
 300,
 400,
 100,
 200,
 300,
 400,
 100,
 200,
 300,
 400]

In [ ]:
lst.remove(100)

In [ ]:
lst.index(100)

8

In [ ]:
lst[9]=1000

In [ ]:
lst

[1,
 2,
 3,
 4,
 5,
 7,
 8,
 400,
 100,
 1000,
 400,
 100,
 200,
 300,
 400,
 100,
 200,
 300,
 400,
 100,
 200,
 300,
 400,
 100,
 200,
 300,
 400]

In [ ]:
lst.insert(6,5000)

In [ ]:
print(lst)

[1, 2, 3, 4, 5, 7, 5000, 8, 400, 100, 1000, 400, 100, 200, 300, 400, 100, 200, 300, 400, 100, 200, 300, 400, 100, 200, 300, 400]

In [ ]:
lst=[1,2,"komal",10.3,True]
lst.insert(4,"khalane")
print(lst)

[1, 2, 'komal', 10.3, 'khalane', True]

In [ ]:
#User Defined Function
#1. Function without arguments

def addition():
  a=10
  b=20
  print(a+b)  # Function Defination

In [ ]:
addition() # Call functions

30

In [ ]:
def subtraction():
  a=2
  b=3
  print("Product of a and b is ",a*b)

In [ ]:
subtraction()

Production a and b is  6

In [ ]:
#function with arguments
def addition(a,b):
  print(a+b)
addition(10,20)

30

In [ ]:
def check_even(a):
  if a%2==0:
    print(a,"Even is")
  else:
    print(a,"Odd is ")

In [ ]:
check_even(10)

10 Even is

In [ ]:
def check_even_sum(num1,num2):
  sum= num1+num2
  if sum%2==0:
    print(sum,"Even")
  else:
    print(sum,"Odd")

In [ ]:
check_even_sum(10,20)

30 Even

In [ ]:
#functions without argument and return keyword

def addition(num1,num2):
  return num1+num2

sum=addition(10,20)
print(sum)

30

In [ ]:
def addition(num1,num2):
  print(num1+num2)

sum=addition(10,20)
print(sum)

30
None

In [ ]:
#functions without argument and with return
def addition():
  num1=int(input("Enter first number:"))
  num2=int(input("Enter second number:"))
  return num1+num2

sum=addition()
print(sum)

Enter first number:10
Enter second number:20
30

In [ ]:
def subtraction():
  a=int(input("Enter first number:"))
  b=int(input("Enter second number:"))
  return abs(a-b)

def multiplication (x,y):
  return(x*y)

In [ ]:
num1= addition()
num2= subtraction()
mult= multiplication(num1,num2)
print(mult)

Enter first number:2
Enter second number:3
Enter first number:10
Enter second number:20
50

In [ ]:
lst = []
for i in range(0,10):
  num = int(input("Enter the number:"))
  lst.append(num)

Enter the number:50
Enter the number:64
Enter the number:80
Enter the number:940
Enter the number:730
Enter the number:82
Enter the number:4
Enter the number:92
Enter the number:43
Enter the number:85

In [ ]:
lst

[50, 64, 80, 940, 730, 82, 4, 92, 43, 85]

In [ ]:
def check_even_lst(x):
  odd_lst = []
  even_lst = []
  for i in x:
    if i%2==0:
      even_lst.append(i)
    else:
      odd_lst.append(i)
  return even_lst,odd_lst

In [ ]:
a,b = check_even_lst(lst)
print(a)
print(b)

[50, 64, 80, 940, 730, 82, 4, 92]
[43, 85]

In [ ]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [ ]:
# Check
lesser_of_two_evens(2,4)

2

In [ ]:
# Check
lesser_of_two_evens(2,5)

5