<a href="https://colab.research.google.com/github/KomalKhalane25/Python_Practices-/blob/main/if_else.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#identation

if 10<20: #condition is true
  print("My name is Komal")

My name is Komal

In [ ]:
if 10>20:  #condition is false
  print("My name is Komal")

In [ ]:
if True:
  print("My name is Komal")

My name is Komal

In [ ]:
#else

if 10>20:
  print("My name is Komal")
else:
  print("I am here to teach you")

I am here to teach you

In [ ]:

if 10<20:
  print("My name is Komal")
else:
  print("I am here to teach you")

My name is Komal

In [ ]:
num = int(input("Enter a Number: "))

if num % 2 == 0:
    print("Number is Even")
else:
    print("Number is Odd")

Enter a Number: 50

TypeError: 'str' object is not callable

In [ ]:
if 500:  #500 is valid value that's whay it is true considering in programming language
  print("My name is Komal")
  print("I am here to learn python")
else:
  print("I am currently living in Dhule")

My name is Komal
I am here to learn python

In [ ]:
if 0:  #0 is  not valid value that's whay it is false considering in programming language
  print("My name is Komal")
  print("I am here to learning python")
else:
  print("I am currently living in Dhule")

I am currently living in Dhule

In [ ]:
if 10>20 and 10<20:
  print("My name is Komal")
else:
  print("I am here to teach you")

I am here to teach you

In [ ]:
if 10>20 or 10<20:
  print("My name is Komal")
else:
  print("I am here to teach you")

My name is Komal

In [ ]:
if "komal":
  print("true")
else:
  print("false")

true

In [ ]:
if "": #Not Space
  print("true")
else:
  print("false")

false

In [ ]:
if " ": #space
  print("true")
else:
  print("false")

true

In [ ]:
if ["komal"]:
  print("true")
else:
  print("false")

true

In [ ]:
if 10>20:
  print("Python")
elif 10<20:
  print("Data Science")
else:
  print("Not Course")

Data Science

In [ ]:
if 30>20:
  print("Python")
elif 10<20:
  print("Data Science")
else:
  print("Not Course")

Python

In [ ]:
if 10>20:
  print("Python")
elif 10<10:
  print("Data Science")
else:
  print("Not Course")

Not Course

In [ ]:
#nested if else

In [ ]:
if 10<20:
  if 30>10:
    print("Python")
  else:
    print("Data Science")
else:
  print("Not Course")

Python

In [ ]:
if 10>20:
  if 30>10:
    print("Python")
  else:
    print("Data Science")
else:
  print("Not Course")

Not Course

In [ ]:
marks= int(input("Enter your marks: "))
if marks>=90:
  print("Grade A+")
elif marks>=80 and marks<=89 :
  print("Grade A")
elif marks>=70 and marks<80:
  print("Grade B")
elif 60<=marks<70:
  print("Grade C")
elif 50<=marks<60:
  print("Grade D")
else:
  print("Fail")

Enter your marks: 95

TypeError: 'str' object is not callable