<a href="https://colab.research.google.com/github/KomalKhalane25/Python_Practices-/blob/main/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

there are two type of loop in python
1. is for loop
2. is while loope

In [ ]:
# for loop
lst = [10,20,30,40,50,60,70,80,90,100]
for i in lst:
    print(i)

10
20
30
40
50
60
70
80
90
100

In [ ]:
lst = [10,84,82,40,45,60,61,70,89,67]
for i in lst:
    if i%2==0:
        print(i ,"is Even")
    else:
        print(i ,"is Odd")

10 is Even
84 is Even
82 is Even
40 is Even
45 is Odd
60 is Even
61 is Odd
70 is Even
89 is Odd
67 is Odd

In [ ]:
tup = (10,84,82,40,45,60,61,70,89,67)
for i in tup:
    if i%2==0:
        print(i ,"is Even")
    else:
        print(i ,"is Odd")

10 is Even
84 is Even
82 is Even
40 is Even
45 is Odd
60 is Even
61 is Odd
70 is Even
89 is Odd
67 is Odd

In [ ]:
s = "My name is komal"
for i in s:
    print(i)

M
y

n
a
m
e

i
s

k
o
m
a
l

In [ ]:
even_lst=[10,20,14,16,18,40,60]
odd_lst=[73,13,9,15,]
for i in even_lst:
    print(i,"is even list")
for j in odd_lst:
    print(j,"is Odd list")

10 is even list
20 is even list
14 is even list
16 is even list
18 is even list
40 is even list
60 is even list
73 is Odd list
13 is Odd list
9 is Odd list
15 is Odd list

In [ ]:
lst = [10,84,82,40,45,60,61,70,89,67,100,452,845,766,]
even_lst = []
odd_lst = []
for x in lst:
  if x%2==0:
    even_lst.append(x)
  else:
    odd_lst.append(x)
print("Even list",even_lst)
print("Odd list",odd_lst)

Even list [10, 84, 82, 40, 60, 70, 100, 452, 766]
Odd list [45, 61, 89, 67, 845]

In [ ]:
s = "My name is komal"
for i in s:
    if i in ['a','e','i','o','u']:
       print(i,"is vowel")
    else:
        print(i,"is consonant")

M is consonant
y is consonant
  is consonant
n is consonant
a is vowel
m is consonant
e is vowel
  is consonant
i is vowel
s is consonant
  is consonant
k is consonant
o is vowel
m is consonant
a is vowel
l is consonant

In [ ]:
s = "My name is komal"
for i in s:
    if i == 'a' or i=='e' or i=='i' or i=='o' or i=='u':
       print(i,"is vowel")
    else:
        print(i,"is consonant")

M is consonant
y is consonant
  is consonant
n is consonant
a is vowel
m is consonant
e is vowel
  is consonant
i is vowel
s is consonant
  is consonant
k is consonant
o is vowel
m is consonant
a is vowel
l is consonant

In [ ]:
s = "My name is komal"
count_vowel = 0
count_consonant = 0
for i in s:
    if i == 'a' or i=='e' or i=='i' or i=='o' or i=='u':
       count_vowel=count_vowel+1
    else:
        count_consonant=count_consonant+1
print("vowel",count_vowel)
print("consonant",count_consonant)

vowel 5
consonant 11

In [ ]:
lst = [1,2,3,4,5,6.1,4.2,5.,"komal","khalane","dhule"]
int_lst = []
float_lst = []
string_lst = []
for i in lst:
  if type(i)==int:
    int_lst.append(i)
  elif type(i)==float:
    float_lst.append(i)
  elif type(i)==str:
    string_lst.append(i)
print("int_lst",int_lst)
print("float_lst",float_lst)
print("string_lst",string_lst)

int_lst [1, 2, 3, 4, 5]
float_lst [6.1, 4.2, 5.0]
string_lst ['komal', 'khalane', 'dhule']

In [ ]:
#range
print(range(10))
print(list(range(10)))
print(list(range(2,10)))
print(list(range(2,10,2)))#step size
print(tuple(range(2,10,2)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8]
(2, 4, 6, 8)

In [ ]:
print(set(range(10,20)))

{10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
lst = [10,20,30,40,60,50,70,80]
for i in lst:
  print(i)

10
20
30
40
60
50
70
80

In [ ]:
lst = [10,20,30,40,50,60,70]
lst2 = [1,2,3,4,5,6,7]
lst3 = []
for i in range(0,5):
    lst3.append(lst[i]*lst2[i])
print(lst3)

[10, 40, 90, 160, 250]

In [ ]:
#while loop

x=0
while x<5:
  print(x)
  x=x+1

0
1
2
3
4

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
even = []
i=0
while i<len(lst):
  if lst[i]%2==0:
    even.append(lst[i])
  i+=1
print(even)

[2, 4, 6, 8, 10, 12, 14]

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10]
x=5
while x<10:  # or x<len(lst):
  lst[x]=100
  x=x+1
print(lst)

[1, 2, 3, 4, 5, 100, 100, 100, 100, 100]

In [ ]:
#pass
x=1
while x<10:
  print("x currently value: ",x)
  x=x+1
  pass

x currently value:  1
x currently value:  2
x currently value:  3
x currently value:  4
x currently value:  5
x currently value:  6
x currently value:  7
x currently value:  8
x currently value:  9

In [ ]:
#break

x = 1
while x <= 10:
  print("x currently value: ",x)
  if x == 3:
    print("Im inside if where x = 3:")
    break
  x= x+1

x currently value:  1
x currently value:  2
x currently value:  3
Im inside if where x = 3:

In [ ]:
id = "komalk"
passd = "komal@123"
x = 0
while x < 5:
  user_name = input("Enter User name:")
  Password = input("Enter your Password:")
  if (id == user_name and passd == Password):
    print("Successfully Login ")
    break
  else:
    x=x+1
    if x==5:
      print("no of Attempts end, Accounts Lock")
    else:
      print("Please try again")

Enter User name:komal
Enter your Password:1
Please try again
Enter User name:Komalk
Enter your Password:komal@123
Please try again
Enter User name:komalk
Enter your Password:komal@123
Successfully Login

In [ ]:
#continue

x = 0
while x<10:
  x = x+1
  if x == 3:
    print("Komal")
    continue
  print("x is currently:" ,x)

x is currently: 1
x is currently: 2
Komal
x is currently: 4
x is currently: 5
x is currently: 6
x is currently: 7
x is currently: 8
x is currently: 9
x is currently: 10

In [ ]:
x=0
while x<5:
  x=x+1
  if x==3:
    print("Im insight the x=3:")
    continue
  else:
    print("komal")
    continue
  print("Pune")

komal
komal
Im insight the x=3:
komal
komal

In [ ]:
#in operator
'x' in ['x','y','z']

True

In [ ]:
'a' in "My name is komal"

True

In [ ]:
'a' in "My nAme is komAl"

False

In [ ]:
10 in range(1,10)

False

In [ ]:
s = "My name is komal"
count = 0
for i in s:
  if i=='a':
    count=count+1
print(count)

2

In [ ]:
s = "My name is komal"
count = 0
i = 0
while i<len(s):
    if s[i]=='a':
      count = count+1
    i = i+1
print(count)

2

In [ ]:
s.count('a')

2

In [ ]:
#zip()
lst1 = [1,2,3,4,5]
lst2 = ['k','o','m','a','l']
print(zip(lst1,lst2))
print(list(zip(lst1,lst2)))

<zip object at 0x7e16cc96f0c0>
[(1, 'k'), (2, 'o'), (3, 'm'), (4, 'a'), (5, 'l')]

In [ ]:
list(zip(lst2,lst1))

[('k', 1), ('o', 2), ('m', 3), ('a', 4), ('l', 5)]