<a href="https://colab.research.google.com/github/KomalKhalane25/Python_Practices-/blob/main/UseFull_Operator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# in operator

'x' in ['x','y','z']

True

In [ ]:
'a' in "My name is komal"

True

In [ ]:
'a' in "My nAme is komAl"

False

In [ ]:
10 in range(1,10)

False

In [ ]:
s = "My Name is Komal Khalane"

count=0
for i in s:
    if i=='a':
     count = count+1
print(count)

4

In [ ]:
s = "My Name is Komal Khalane"
count = 0
i = 0
while i<len(s):
    if s[i]=='a':
        count = count+1
    i = i+1
print(count)

4

In [ ]:
s = "My Name is Komal Khalane"
s.count('a')

4

In [ ]:
1 in 123

TypeError: argument of type 'int' is not iterable

In [ ]:
#zip()
lst1 = [1,2,3,4,5,6]
lst2 = ['a','b','c','d','e']
zip(lst1,lst2)

In [ ]:
lst1 = [1,2,3,4,5,6]
lst2 = ['a','b','c','d','e']
list(zip(lst1,lst2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [ ]:
tuple(zip(lst2,lst1))

(('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5))

In [ ]:
set(zip(lst1,lst2))

{(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')}